:host {
  position: relative;
}

label {
  display: inline-block;
}

input {
  opacity: 0;
  position: absolute;
}

i {
  background: lightgray;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

:checked + i {
  background: gray;
}

:disabled + i {
  opacity: .3;
}

span {
  vertical-align: middle;
}
