:host {
  background: white;
  box-shadow: 0 1px 7px -3px;
  display: block;
  margin: 0 5px;
  padding: 10px;
  transition: .3s;
}

:host:hover {
  margin: 5px;
}

b, i, u {
  display: inline-block;
}

.name {
  width: 60px;
}

.surname {
  width: 100px;
}

.age {
  width: 40px;
}

.material-icons {
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}


nb-checkbox {
  margin-right: 10px;
}
